[Desktop Entry]
Type=Application
Name=Eden
Comment=Nintendo Switch emulator
Exec=/usr/bin/armada-eden
Icon=applications-games
Terminal=false
Categories=Game;Emulator;
